/*Master Styles*/

body {
    margin: 0px;

    border: solid black 4px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;;
}

/*Navstyles*/
.nav-wrapper {
    display: flex;
    justify-content:space-between;
    padding: 38px;

    border: solid blue;
}

.left-side {
    display: flex;
}

.nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s; /*animations*/
}

.nav-link-wrapper a {
    zcolor: #8a8a8a;
    color: green;
    text-decoration: none;
    transition: color 0.5s;

}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper:hover a:hover {
    color: black;    
}

.content-wrapper {
    border: solid red;
}

/*Porfolio Styles*/